.heroImg {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50vh;
}

.linkContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #00B189;
    width: 100%;
}

.linkContainer div {
    position: relative;
    margin: 10px 5px;
    padding: 20px 0;
}

.linkContainer h4 {

    position: absolute;
    top: 3.4vh;
    left: 5vw;
    font-size: 2vw;
    color: white;
    text-transform: uppercase;
}

.linkImg {
    width: 20vw;
}