
.profile_form {
    max-width: 30rem;
    border: 1px solid #286142;
    background-color: #f0eded;
    border-radius: 5px;
    margin: 20px 50px;
    padding: 20px;
    box-shadow: #bbc9c1 1px 1px;
}

.btn {
    padding: 5px 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #286142;
}
/* ------------- */

.comments_container {
    /* max-width: 30rem; */
    /* border: 1px solid #286142; */
    /* border: 1px solid #ff0693; */
   /*  border-radius: 5px; */
   /*  margin: 20px 50px; */
    padding: 20px;
    justify-content: center;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comment_card {
    width: 18rem;
    border: 1px solid #286142;
    background-color: #f0eded;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 20px;
    box-shadow: #bbc9c1 2px 2px 2px;
    
/*     display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap; */
    
    
}
.comment_image {
    height: 100px;
    margin: 10px 0px;
}
