.event-form-component {
    width: 100%;
    max-width: 80%;

    display: flex;
    margin: auto;
}

.event-form {

    height: 100vh;
    width: 100%;
    max-width: 80%;
    padding: 20px;
}

.preview-img-component {
    max-width: 20%;
    background-color: gray;
    height: 100vh;
    width: 100%;
    max-width: 80%;
    margin: 10px;
}

label {
    font-weight: 700;
    font-size: large;
}

input {
    margin: 10px 0;
    border-radius: 12px;
    border: 1px solid gray;
    padding: 0 10px
}



.form-field {
    width: 100%;
    line-height: 2.5;
    font-size: medium;
}