.about_border_2 {
    margin-bottom: 0rem;
    padding-bottom: 0;
    background-color: #041c0d;
    width: 100vmax;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #286142;
}
.about_hours {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}
.G_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #05b387;
}
.about_footer {
    padding: 2rem;
    margin-right: 3rem;
}
.icon {
    color: #a9a9a9;
    font-size: 1.2rem;
    padding: 0.5rem;
}
.icons {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 12px;
}
.copyright {
    color: #a9a9a9;
    font-size: 0.9rem;
    padding: 0.5rem;
}

/* ------------- */

.footerIMG_container {
    max-width: 36rem;
    max-height: 13rem;
    margin: 2rem;
    overflow: hidden;
}
.footerIMG_image {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 5rem;
    width: 7rem;
    margin: 1px;
    position: relative;
    image-resolution: 10%;
}

.footer_container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hr {
    color: #a9a9a9;
}

.footerLikeIcon {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 15px;
    color:rgb(35, 5, 167);
    background-color: #04fa8b49;
    cursor: pointer;
}
